/* style.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  background: #009688;
  color: white;
  text-align: left;
  padding: 10px 0;
  margin-top: 10px;
}

header h1{
  margin-left: 10px;
}

header p{
  margin-left: 10px;
  font-size: 1rem;
}

section{
  margin-bottom: 50px;
}

.tab-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00796b;
  display: flex;
  justify-content: left;
  padding: 0px 0px;
  z-index: 1000;
}

.tab-nav button {
  background: #00796b;
  color: white;
  border: none;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

nav button:hover {
  background: #004d40;
}

nav button.active {
  background: #004d40;
  font-weight: bold;
}

main {
  padding: 20px;
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px; /* ヘッダーの下に余白を追加 */
}

.tab-content {
  display: none;
  padding: 20px;
  background: #333;
  color: #fff;
}

.tab-content.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

ul a {
  color: #009688;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  text-align: left;
  padding: 10px 0;
}

.Wam {
  text-align: center;
}

.myicon {
  width: 150px;
  border-radius: 50%;
}